
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:link, a:visited{

}

a:hover{

}

body > header{

}

.main{
  width: 1020px;
  margin: 0 auto;
}

.first{
  width: 640px;
  float: left;
  padding: 0 40px;
}
.second{
  width: 360px;
  float:right;
}
